{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis aliquid commodi libero enim architecto officia voluptas repudiandae doloremque esse nesciunt, suscipit quas, animi inventore voluptates, cupiditate accusamus sint quibusdam vitae facilis consequuntur distinctio at error itaque. Consequuntur assumenda architecto ipsum?</p>
<p>Facilis aliquam esse dolorum harum dolore, nam, porro excepturi veritatis eos reprehenderit accusantium, ad beatae ipsam vero explicabo laboriosam similique corrupti! Deleniti sequi fugit in, voluptas placeat, nobis voluptatibus culpa perferendis consequatur voluptatem at maiores minus soluta. Tempora, quidem, eaque.</p>

{% endblock %}